<form method="post">
    <div class="form-group">
        <label for="prixTotale">Prix</label>
        {{ form_widget(form.prixTotale) }}
    </div>

    <div class="form-group">
        <label for="prixTotale">Materiel</label>
        {{ form_widget(form.materiel) }}
    </div>

    {{ form_widget(form) }}
</form>
{{ form_end(form) }}


